.profile__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px minmax(-webkit-max-content, 1fr) 24px;
  -ms-grid-columns: 120px minmax(max-content, 1fr) 24px;
  grid-template-columns: 120px minmax(-webkit-max-content, 1fr) 24px;
  grid-template-columns: 120px minmax(max-content, 1fr) 24px;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "userpic user edit"
                       "userpic user .";
}

@media screen and (max-width: 680px) {
  .profile__container {
    -ms-grid-rows: -webkit-max-content 14px 1fr 14px 1fr;
    -ms-grid-rows: max-content 14px 1fr 14px 1fr;
    grid-template-rows: -webkit-max-content 1fr 1fr;
    grid-template-rows: max-content 1fr 1fr;
        grid-template-areas: "userpic userpic userpic"
                         "user user edit"
                         "user user .";
    row-gap: 14px;
  }
}