.page__content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 66px;
}

@media screen and (max-width: 620px) {
  .page__content {
    margin-bottom: 48px;
  }
}