.profile__edit {
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../images/edit-button.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  transition: opacity .3s ease;
  z-index: 5;
}

.profile__edit:hover {
  opacity: 1;
}

.profile__edit:focus {
  opacity: 1;
}