.popup__input {
  min-height: 27px;
  width: inherit;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  border: 0;
  background-color: transparent;
}

.popup__input_style_light {
  border-bottom: 1px solid rgba(00, 00, 00, .2);
  color: #000;
}

.popup__input_style_dark {
  border-bottom: 2px solid #ccc;
  color: #fff;
}

.popup__input:nth-of-type(2) {
  margin-bottom: 48px;
}

@media screen and (max-width: 410px) {
  .popup__input {
    font-size: 12px;
    min-height: 24px;
  }
}

.popup__input:focus {
  outline: 2px solid rgba(64, 154, 244);
  outline-offset: 2px;
}

.popup__input_style_light::placeholder {
  color: #c4c4c4;
}

.popup__input_style_dark::placeholder {
  color: #ccc;
}
