@import url(./__logo/header__logo.css);
@import url(./__logo-link/header__logo-link.css);
@import url(./__title/header__title.css);

.header {
  color: #ffffff;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  min-height: 74px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 620px) {
  .header {
    min-height: 56px;
  }
}